<%- include('../partials/head') %>
<link rel="stylesheet" href="/home-list.css">
<link rel="stylesheet" href="/general.css">
</head>
<body>
  <%- include('../partials/header') %>

  <div class="div-title">
    <h1 style="text-align:center;font-family:Arial, Helvetica, sans-serif"> 
      Here are our favourites.
    </h1>
  </div>

  <div class="list">
    <% favouriteHomes.forEach(favouriteHome => { %>
      <div class="sub-list">
        <div>
          <strong>Name :</strong> <%= favouriteHome.homeName %> 
          <br>
          <strong>Price : </strong> <%= favouriteHome.price %> 
          <br>
          <strong>Location : </strong> <%= favouriteHome.location %> 
          <br>
          <strong>Rating : </strong> <%= favouriteHome.rating %> out of 5
          <br>
          <strong>Description : </strong> <%= favouriteHome.description %> 
          <br>
          <strong>Image: </strong>
          <img src="<%= favouriteHome.imageUrl %>" alt="Home page" width="300" height="200">
          <br><br>
          <form action="/store/favourite-list/delete/<%= favouriteHome._id.toString() %>" method="POST">
            <button type="submit" class="delete-button">Delete</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>

</body>
</html>
