<%- include('../partials/head') %>
<link rel="stylesheet" href="/general.css">
<link rel="stylesheet" href="/add-Home.css">

<body>
  <!-- Include header that respects isLoggedIn -->
  <%- include('../partials/header', { isLoggedIn: isLoggedIn }) %>

  <div class="container">
    <h1><%= editing ? "Edit" : "Register" %> your home here:</h1>

    <form action="/host/<%= editing ? 'edit-home' : 'add-home' %>" method="POST" class="home-form">
      <input type="hidden" name="id" value="<%= editing ? home._id : '' %>">

      <label>
        Name of Home:
        <input type="text" name="homeName" placeholder="Enter here:" value="<%= editing ? home.homeName : '' %>">
      </label>

      <label>
        Enter price:
        <input type="text" name="price" placeholder="Enter price:" value="<%= editing ? home.price : '' %>">
      </label>

      <label>
        Enter location:
        <input type="text" name="location" placeholder="Enter here:" value="<%= editing ? home.location : '' %>">
      </label>

      <label>
        Rating:
        <input type="text" name="rating" placeholder="Rating:" value="<%= editing ? home.rating : '' %>">
      </label>

      <label>
        Image:
        <input type="text" name="imageUrl" placeholder="Enter image:" value="<%= editing ? home.imageUrl : '' %>">
      </label>

      <label>
        Description:<br>
        <textarea name="description" placeholder="Enter description:"><%= editing ? home.description : '' %></textarea>
      </label>

      <input type="submit" value="<%= editing ? 'Update Home' : 'Add Home' %>">
    </form>
  </div>
</body>
</html>