<%- include('../partials/head') %>
<link rel="stylesheet" href="/general.css">
<link rel="stylesheet" href="/add-Home.css">
</head>
<body>
  <!-- Include header -->
  <%- include('../partials/header') %>

  <div class="container">
    <h1><%= editing ? "Edit" : "Register" %> your home here:</h1>

    <form action="/host/<%= editing ? 'edit-home' : 'add-home' %>" method="POST" class="home-form" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<%= editing ? home._id : '' %>">

      <label>
        Name of Home:
        <input type="text" name="homeName" placeholder="Enter here:" value="<%= editing ? home.homeName : '' %>">
      </label>

      <label>
        Enter price:
        <input type="text" name="price" placeholder="Enter price:" value="<%= editing ? home.price : '' %>">
      </label>

      <label>
        Enter location:
        <input type="text" name="location" placeholder="Enter here:" value="<%= editing ? home.location : '' %>">
      </label>

      <label>
        Rating:
        <input type="text" name="rating" placeholder="Rating:" value="<%= editing ? home.rating : '' %>">
      </label>

      <label>
        Image:
        <input type="file" name="image" accept="image/*">
      </label>

      <label>
        Upload rules file :
        <input type="file" name="rulesFile" accept="application/pdf">
      </label>

      <label>
        Description:<br>
        <textarea name="description" placeholder="Enter description:"><%= editing ? home.description : '' %></textarea>
      </label>

      <input type="submit" value="<%= editing ? 'Update Home' : 'Add Home' %>">
    </form>
  </div>
</body>
</html>
